@inherits LayoutComponentBase

<PageTitle>Okaz.Client</PageTitle>

<div class="">
   <div class="">
   <Navbar />
   </div>
   <div class="">
   <article class="mx-auto w-screen px-4 py-4 md:px-0 m-0">
   @Body
   </article>
   </div>
</div>
