@inherits LayoutComponentBase

<PageTitle>Okaz.Client</PageTitle>

<div class="">
   <div class="">
   <Navbar />
   </div>
   <div class="">
   <article class="mx-auto w-100 ">
   @Body
   </article>
   </div>
</div>
