@page "/"
@page "/index"
@page "/products/index"
@inherits ProductIndexBase

<PageTitle>Products</PageTitle>
<div class=" w-100 px-4">
  <h1 class="text-lg font-bold text-left my-8 border-0 outline-0">Product Listing (@ProductCount)</h1>
  <div class="grid xs:grid-cols-1 grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">

    @if (Products == null)
    {
      <Spinner />
    }
    else
    {  
     


      @foreach(var product in Products)
      { 
        <ProductCard Product="@product"/>
      }     
    }
  </div>
</div>